@media only screen and (max-width: 1320px) {
    .display-boards-page-container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}