#register-form-container{
    width:59%;
    text-align: center;
    display: inline-block;
    margin:0;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
}

.register-form-items{
    margin:auto;
}

#register-div{
    background-color: #fff;
    width:60%;
    margin-top: 150px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #bebebe,
                0px -5px 10px #ffffff;
    display: inline-block;
    text-align: center;
    height:630px;
}

#register-p{
    margin:auto;
    width: 50%;
}
#register-h{
    padding-top:40px;
}

.register-input-items{
    display: block;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
    width:70%;
    margin-top: 20px;
}

.register-input-items:nth-of-type(1){
    margin-top:30px;
}

#register-submit-button{
    margin-top:20px;
    background-color:#007acc;
    border-radius:10px;
    width:200px;
    height: 60px;
    border: none;
    font-size: 20px;
    color:#fff
}

#register-already-have-acc{
    display: inline-block;
    position:absolute;
    bottom: 20px;
    transform: translate(-50%, 0);
    margin: auto;
}

.register-error{
    color: red;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
    #register-form-container{
        width:100%;
    }

    #register-div{
        display: inline-block;
        height: 630px;
        margin-top:120px;
    }
}

@media only screen and (max-width: 650px) {
    #register-div{
        width:90%;
        height: 630px;
    }
}

@media only screen and (max-height: 800px) {
    #register-div{
        margin-top:100px;
    }
}
