@import url("https://cdn.syncfusion.com/ej2/material.css");

#add-task input, textarea {
    display: block;
}

textarea {
    width:400px;
    height: 200px;
    max-width: 600px;
    max-height:400px;
}

.form-items{
    margin:auto;
    margin-bottom: 20px;
}

#datetime-picker{
    width: 400px;
}


.add-task-button{
    width:300px;
    height:40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #bebebe,
    0px -2px 10px #e3e3e3;
    display: flex;
    align-items: center;
}

.add-task-button:hover{
    background-color: #f6f6f6;
    box-shadow:  0px 5px 10px #c3c3c3;
    color: black;
}

.add-task-plus-symbol{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.add-task-p{
    margin-left: 10px;
    color: #707070;
}