.login-form-items{
    margin:auto;
}

#login-div{
    display: inline-block;
    background-color: #fff;
    width:700px;
    height:500px;
    margin-left:10vw;
    margin-top: 160px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #bebebe,
                0px -5px 10px #ffffff;
    text-align: center;

}

#login-h{
    padding-top:40px;
}

.login-input-items{
    display: block;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
    width:400px;
}

.login-input-items:nth-of-type(1){
    margin-top:30px;
}

#login-forgot-pwd{
    margin:40px 0;
}

#login-submit-button{
    margin-top:20px;
    background-color: #007acc;
    border-radius:10px;
    width:200px;
    height: 60px;
    border: none;
    font-size: 20px;
    color:#fff
}

#login-forgot-pwd{
    display: block;
    margin:65px auto;
}