.board-card {
    background-color: #ffffff;
    height:100px;
    border-radius:10px;
    box-shadow:  0px 5px 10px #bebebe;
}

.board-card:hover {
    background-color: #f6f6f6;
    box-shadow:  0px 5px 10px #c3c3c3;
}

.board-card p {
    margin:0;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-card p:nth-of-type(1) {
    padding-top:10px;
    font-weight: bold;
}