#display-boards-container {
    margin-top:90px;
    width:80%;
    display: inline-block;
    vertical-align:top
}

.board-cards-container{
    display: grid;
    grid-template-columns: repeat(5, 250px);
    gap: 20px;
}

.board-card-anchor{
    text-decoration: none;
}

