#watermarked-image-div{
    display:inline-block;
    width: 40vw;
    height: 100vh;
    object-fit: cover;
    vertical-align:top;
    box-shadow: inset -20px 0px 60px #181818;
}

#watermarked-darken-div{
    text-align: center;
    position: relative;
    top: 80%;
}

#watermarked-image-p{
    text-align: center;
    position: relative;
    top: 80%;
}

#task-span{
    font-size: 100px;
    margin: 0;
    color: #ffffff;
}

#fuel-span{
    font-weight: bolder;
    font-size: 100px;
    margin: 0;
    color: #007acc;
    text-align: center;
}