#display-tasks-container{
    margin-top:90px;
    padding-bottom: 40px;
    width:80%;
    display: inline-block;
    vertical-align:top;
}

.task-lists-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.horizontal-spacer{
    min-width: 40px;
    min-height: 100px;
    display: inline-block;
}