#display-tasks-container{
    margin-top:90px;
    padding-bottom: 40px;
    width:1px;
    display: inline-block;
    vertical-align:top;
}

.task-lists-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.horizontal-spacer{
    min-width: 40px;
    min-height: 100px;
    display: inline-block;
}


@media only screen and (max-width: 420px) {
    #display-tasks-container{
        margin-left: 60px;
    }
}