.tasks-list-container{
    height: 120px;
    width: 350px;
    background-color: #e3e3e3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
}

.tasks-list-title{
    margin: 0;
    font-size: 22px;
}

.hidden { display:none; }

.ten-px-spacer{
    height:10px;
    display:block
}

.task-cards-container{
    display: flex;
    flex-direction: column;
    gap:15px;
}